{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "targets": {
          "node": "current",
          "browsers": [
            "Chrome >= 49",
            "Firefox >= 45",
            "Safari >= 10",
            "Edge >= 13",
            "IE >= 11"
          ]
        },
        "modules": false
      }
    ]
  ],
  "plugins": [
    "lodash",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-transform-runtime",
    [
      "component",
      {
        "libraryName": "mint-ui",
        "style": true
      },
      "mint-ui"
    ]
  ]
}
