{
  "presets": [
    ["env"]
  ],
  "plugins": [
    "lodash",
    "syntax-dynamic-import",
    "transform-runtime",
    ["component", [
      {
        "libraryName": "element-ui",
        "style": false
      },
      {
        "libraryName": "mint-ui",
        "style": true
      }
    ]]
  ]
}