{
  "extends": ["plugin:vue/recommended", "prettier"],
  "parserOptions": {
    "parser": "babel-eslint"
  },
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "rules": {
  },
  "globals": {
    "M": true,
    "flvjs": true
  }
}
