.v-popup {
  overflow: hidden;
}

.bg,
.face {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.face {
  border-radius: 5px;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.oneline {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sub-title {
  font-size: 24px;
  color: $color-text-normal;
  line-height: 24px;
  padding-left: 20px;
  position: relative;
  margin-bottom: 20px;
  font-weight: 400;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 100%;
    background-color: $color-blue-normal;
    border-radius: 8px;
  }
}

.celltitle {
  color: $color-text-light;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 20px;
}

.breadcrumb {
  height: 20px;
  margin-top: 0;
  margin-bottom: 30px;
  font-family: 'iconfont' !important;
  position: relative;
  padding-left: 20px;

  &:before {
    position: absolute;
    left: -4px;
    top: 0;
    content: "\e6b1";
    color: $color-blue-normal;
    font-size: 20px;
  }

  &, * {
    font-size: 16px;
    color: $color-link;
    line-height: 20px;
    font-weight: 400;
  }

  a {
    position: relative;
    margin-right: 20px;

    &:hover {
      color: $color-blue-normal;
    }

    &:after {
      content: '>';
      position: absolute;
      right: -20px;
      top: 0;
      bottom: 0;
      width: 20px;
      text-align: center;
      line-height: 18px;
      font-size: 13px;
      color: $color-link;
    }
  }
}

.clearfix {
  &:after {
    content: '';
    clear: both;
    display: table;
  }

  &:before {
    content: '';
    clear: both;
    display: table;
  }
}

.icon-item {
  display: inline-block;
  color: $color-text-light;
  font-size: 13px;
  line-height: 16px;
  height: 16px;
  padding-left: 20px;
  position: relative;
  font-family: 'iconfont' !important;

  &:before {
    position: absolute;
    left: 3px;
    top: 0;
    font-size: 14px;
  }

  &.icon-item-tag {
    &:before {
      content: "\e662";
    }
  }
}

.abs {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.file-input {
  overflow: hidden;
  position: relative;

  &:hover:before {
    opacity: 1 !important;
    transition-duration: .4s;
  }

  input {
    opacity: 0;
    width: 100%;
    height: 100%;
    display: block;
    cursor: pointer;
  }
}

.breadcrumb-links {
  margin-bottom: 16px;

  a {
    font-size: 14px;
    transition: .2s;
    display: inline-block;
    margin-right: 24px;
    padding-bottom: 6px;
    font-weight: 500;
    color: #2d2f33;

    &:hover {
      border-radius: 5px;
      color: $color-blue-light;
    }

    &.router-link-active {
      color: $color-blue-normal;
      border-bottom: 1px solid $color-blue-light;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        left: 50%;
        margin-left: -3px;
        bottom: 0;
        width: 0;
        height: 0;
        border: 3px dashed $color-blue-light;
        border-bottom-style: solid;
        border-top: 0;
        border-left-color: transparent;
        border-right-color: transparent;
      }
    }
  }
}

.image-lazy-init {
  opacity: 0.3;
  background-color: #ccc;
}

.image-lazy-active {
  transition: background-color, opacity .15s linear;
  opacity: 1;
  background-color: transparent;
}

.image-shim {
  width: auto !important;
  display: block;
  margin: 0 auto 5px auto;
}

.text-center {
  text-align: center;
}

.likes-modal {
  li {
    float: none;

    &:not(:last-child) {
      border-bottom: 1px solid #f0f0f0;
    }

    .user {
      padding: 10px 0;
      position: relative;
      display: block;

      .avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid $color-gray-normal;
        margin-right: 10px;
        vertical-align: middle;
      }

      .nickname {
        font-size: 15px;
        color: #333;
        vertical-align: middle;
        display: inline-block;
      }

      .score {
        float: right;
        font-size: 13px;
        color: $color-text-light;
        margin-top: 13px;
      }
    }
  }
}

.tag-btn {
  background-color: transparent;
  display: inline-block;
  padding: 0 5px;
  height: 24px;
  line-height: 22px;
  font-size: 12px;
  color: $color-pink-normal;
  border-radius: 4px;
  border: 1px solid $color-pink-normal;
  white-space: nowrap;
  font-weight: 700;

  &.selected, &:hover {
    background-color: $color-pink-deep;
    border: 1px solid $color-pink-deep;
    color: #fff;
  }
}

.image-package {
  margin-bottom: 3px;
}

.blue-link {
  transition: $fade-time;
  color: $color-link;
  cursor: pointer;

  &:hover {
    color: $color-blue-normal;
  }
}