%clearfix {
  &:after {
    content: '';
    clear: both;
    display: table;
  }

  &:before {
    content: '';
    clear: both;
    display: table;
  }
}

@mixin iconfont($size: 16px) {
  font-family: "iconfont" !important;
  font-size: $size;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin avatar($size) {
  width: $size;
  height: $size;
  border-radius: $size / 2;
}

@mixin input-placeholder($color: #fff) {
  &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    $color;
  }
  &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    $color;
    opacity:  1;
  }
  &::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    $color;
    opacity:  1;
  }
  &:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    $color;
  }
  &::-ms-input-placeholder { /* Microsoft Edge */
    color:    $color;
  }
}

@mixin icon($size: contain) {
  background-repeat: no-repeat;
  background-size: $size;
  background-position: center;
}

@mixin filter-blur($size: 5) {
  filter: blur($size + px);
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=$size, MakeShadow=false);
}